<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem 
        name="Incident Type" 
        action="incident_mgmt.incident_mgmt_incident_type_action"
        id="menu_incident_type" 
        parent="project.menu_project_config" 
        sequence="10"
    />
    <menuitem 
        name="Teams" 
        action="incident_mgmt.incident_mgmt_team_incident_action"
        id="incidemt_mgmt_menu_team" 
        parent="project.menu_main_pm" 
        sequence="5"
    />
    <menuitem 
        name="Team Incidents" 
        action="incident_mgmt.incident_mgmt_team_incidents_action"
        id="incident_mgmt_menu_team_incident" 
        parent="project.menu_main_pm" 
        sequence="6"
    />


    
</odoo>
